[project]
	description = To Familiarise with Git
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vidupai
[access "refs/for/refs/*"]
	read = group user/vidupai
	push = group user/vidupai
	label-Code-Review = -2..+2 group user/vidupai
	label-Verified = -1..+1 group user/vidupai
	rebase = group user/vidupai
	removeReviewer = group user/vidupai
	submit = group user/vidupai
[access "refs/heads/*"]
	read = group user/vidupai
	create = group user/vidupai
	push = +force group user/vidupai
	pushMerge = group user/vidupai
[access "refs/tags/*"]
	push = group user/vidupai
	push = +force group user/vidupai
